@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    10%, 90% {
        transform: translateY(-6px);
    }
    30%, 70% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(0);
    }
}

.wave-text {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}


.transparent-blur {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}